<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <div class="login-page">
            <p class="headings" align="center"> Welcome to bookfair</p>
            <br>
            <form action="" method="post">
                <input class="username" type="text" placeholder="Username" name="username" value="{{
                                                request.form.username }}">
                <br>
                <br>
                <input class = "pwd" type="password" placeholder="Password" name="password" value="{{
                                                request.form.password }}">
                <br>
                <br>
       
                <input class ="btn button" type="submit" value="Login">  
           
            </form>
            <br>
            {% if error%}
            <p class="error" align="center"><strong>Error:</strong>{{error}}
            {% endif %}
        </div>
    </body>
</html>